* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  vertical-align: middle;
}
html {
  background-color: #232d37;
  color: white;
}
ul {
  float: left;
}
ul li {
  height: 35px;
  line-height: 35px;
}
ul li img {
  width: 30px;
  height: 30px;
}
ul li[class='li-1'] {
  margin-left: 10px;
}
ul li[class='li-1'] img {
  margin-right: 5px;
}
ul li[class='li-2'] {
  margin-left: 40px;
}
ul li[class='li-2'] img {
  margin-right: 5px;
}
ul li[class='li-3'] {
  margin-left: 70px;
}
ul li[class='li-3'] span {
  padding: 5px 10px;
}
ul li[class='li-3'] img {
  margin-left: 5px;
}
